
<div class="wrapper">
  <header class="header">
    <div class="logo">
      <img src="/assets/images/logo.svg" alt="Logo">
    </div>
    <h1 class="site-title">TITLE</h1>
    <p class="subtitle">Ipsum gravida sed feugiat amet tempus</p>
  </header>

  <main class="cards">
    <section class="card">
      <div class="card-text">
        <h2>Magna Etiam</h2>
        <p>Ipsum dolore consequat sed amet feugiat nisl sed amet dolor adipiscing nulla tempus.</p>
        <a class="button" href="#">More</a>
      </div>
      <div class="card-image">
        <img src="/assets/images/img1.jpg" alt="Image 1">
      </div>
    </section>

    <section class="card">
      <div class="card-image">
        <img src="/assets/images/img2.jpg" alt="Image 2">
      </div>
      <div class="card-text">
        <h2>Sed Feugiat</h2>
        <p>Ipsum dolore consequat sed amet feugiat nisl sed amet dolor adipiscing nulla tempus.</p>
        <a class="button" href="#">More</a>
      </div>
    </section>

    <section class="card">
      <div class="card-text">
        <h2>Nisl Blandit</h2>
        <p>Ipsum dolore consequat sed amet feugiat nisl sed amet dolor adipiscing nulla tempus.</p>
        <a class="button" href="#">More</a>
      </div>
      <div class="card-image">
        <img src="/assets/images/img3.jpg" alt="Image 3">
      </div>
    </section>
  </main>

  <footer class="footer">
    <div class="social">
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-instagram"></i></a>
      <a href="#"><i class="fa fa-envelope"></i></a>
    </div>
    <p>&copy; Untitled. All rights reserved.</p>
  </footer>
</div>
